*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.register{
    display: flex;
    justify-content: center;
    color: chocolate;
}
.Regform{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Regmain{
    border: 1px solid;
    padding: 18px;
    border-radius: 5px;
}
.Regin{
    display: flex;
    flex-direction: column;
    width: 50vh;
}

.select{
    display: flex;
    flex-direction: column;
    width: 50vh;
}
.regbtn{
    margin-top: 10px;
    display: flex;
    justify-content: end;
}
.regbutton{
    padding: 5px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}